<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Vehicle Details Form</title>
    <link rel="stylesheet" href="/static/home.css" />
  </head>
  <body>
    <h1>Vehicle Information</h1>
    <form action="/store-vehicle/" method="post">
      {% csrf_token %}
      <label for="registration_number">Registration Number:</label>
      <input
        type="text"
        id="registration_number"
        name="registration_number"
        placeholder="eg. XX XX XX XXXX"
        required
      /><br /><br />

      <label for="manufactured_by">Manufactured By:</label>
      <input
        type="text"
        id="manufactured_by"
        name="manufactured_by"
        placeholder="eg. Mahindra"
        required
      /><br /><br />

      <label for="vehicle_model">Vehicle Model:</label>
      <input
        type="text"
        id="vehicle_model"
        name="vehicle_model"
        placeholder="eg. Bolero XL"
        required
      /><br /><br />

      <label for="year_of_manufacture">Year of Manufacture:</label>
      <input
        type="number"
        id="year_of_manufacture"
        name="year_of_manufacture"
        placeholder="eg. 2019"
        required
      /><br /><br />

      <label for="body_built_by">Body Built By:</label>
      <input
        type="text"
        id="body_built_by"
        name="body_built_by"
        placeholder="eg. Mahindra & Mahindra"
        required
      /><br /><br />

      <label for="type_of_vehicle">Type of Vehicle:</label>
      <input
        type="text"
        id="type_of_vehicle"
        name="type_of_vehicle"
        placeholder="eg. Water Tender"
        required
      /><br /><br />

      <label for="battery_size">Battery Size:</label>
      <input
        type="text"
        id="battery_size"
        name="battery_size"
        placeholder="eg. 12 v 11 PLATS"
        required
      /><br /><br />

      <label for="tyre_size">Tyre Size:</label>
      <input
        type="text"
        id="tyre_size"
        name="tyre_size"
        placeholder="eg. 215/47 R15"
        required
      /><br /><br />

      <label for="chassis_number">Chassis Number:</label>
      <input
        type="text"
        id="chassis_number"
        name="chassis_number"
        placeholder="eg. MA3EED81S00123456"
        required
      /><br /><br />

      <label for="engine_number">Engine Number:</label>
      <input
        type="text"
        id="engine_number"
        name="engine_number"
        placeholder="eg. D13A1234567"
        required
      /><br /><br />

      <label for="date_of_delivery">Date of Delivery:</label>
      <input
        type="date"
        id="date_of_delivery"
        name="date_of_delivery"
        required
      /><br /><br />

      <label for="order_number">Order Number:</label>
      <input
        type="text"
        id="order_number"
        name="order_number"
        placeholder="eg. STS/XX/XXXX"
        required
      /><br /><br />

      <label for="kgid_policy_number">KGID Policy Number:</label>
      <input
        type="text"
        id="kgid_policy_number"
        name="kgid_policy_number"
        placeholder="eg. 1234567"
        required
      /><br /><br />

      <button type="submit">Submit</button>
    </form>
    {% comment %} {% if message %}
    <div>
      <p>{{message}}</p>
      <h2>Here is your QR COde regarding the vehicle</h2>
      <img src="" alt="" />
    </div>
    {% endif %} {% endcomment %}
  </body>
</html>
